@keyframes fly-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  .fly-in-text {
    animation: fly-in 1s ease-in-out forwards;
    color : white;
    font-weight: 900;
    font-size: 60px;
    line-height: 1.2;
    overflow : hidden
  }
  