@keyframes fly-in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes re-fly-in {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}



.text {
  color: white;
  font-weight: 900;
  font-size: 60px;
  line-height: 1.2;
  overflow: hidden
}

.fly-in-text {
  animation: fly-in 1s ease-in-out forwards;
  color: white;
  font-weight: 900;
  font-size: 60px;
  line-height: 1.2;
  overflow: hidden
}


.revers-fly-in-text {
  animation: re-fly-in 1s ease-in-out forwards;
  color: white;
  font-weight: 900;
  font-size: 60px;
  line-height: 1.2;
  overflow: hidden
}

.main-page-transition-container {
  overflow: hidden;
  /* 애니메이션이 컨테이너를 벗어나지 않도록 함 */
  position: relative;
  /* 페이지 컴포넌트들이 절대 위치를 가질 수 있도록 함 */
  height: 100vh;
  /* 컨테이너의 높이를 화면 전체로 설정 */
}

/* 페이지 컴포넌트에 대한 기본 스타일 */
.main-page-component {
  position: absolute;
  /* 절대 위치로 설정하여 다른 페이지 위에 겹쳐지도록 함 */
  width: 100%;
  /* 페이지 컴포넌트의 너비를 100%로 설정 */
  transition: transform 0.5s ease;
  /* transform 속성에 대한 트랜지션을 적용하여 애니메이션을 부드럽게 함 */
}

.first-page {
  transform: translateY(0);
}

/* 두 번째 페이지의 초기 위치 */
.second-page {
  transform: translateY(-100%);
}

/* 첫 번째 페이지가 활성화되었을 때 두 번째 페이지의 위치 변경 */
.first-page.main-page-active + .second-page {
  transform: translateY(100%);
}

/* 세 번째 페이지의 초기 위치 */
.third-page {
  transform: translateY(200%);
}

/* 두 번째 페이지가 활성화되었을 때 세 번째 페이지의 위치 변경 */
.second-page.main-page-active + .third-page {
  transform: translateY(100%);
}

/* 활성화된 페이지에 대한 스타일 */
.main-page-active {
  transform: translateY(0);
  /* 활성화된 페이지를 보이는 위치로 이동 */
}